.main-header {
    min-height: 4.5rem;
    background-color: var(--bg-primary);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.85rem;
    padding: 1rem;
}